# Visual Studio Code local workspace file
*.code-workspace

# Visual Studio User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Docusarus is a static documentation site generator
**/.docusaurus/

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Local DocFX content for local generation
docfx/

# DocFX generated content site folder
_site/
_pdf/
api-reference/

# VS Code
.vscode/
