#header {
  width: 100%;
  background: #fff;
  height: 50px;
  padding-bottom: 8px;
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
}
#header .nav > li > a:hover,
#header .nav > li > a:focus {
  text-decoration: none;
  background: none;
}
#header #site-logo {
  height: 50px;
  float: left;
}
#header #search-area {
  overflow: hidden;
}
#header #logon-link {
  cursor: pointer;
}
#header #logon-link.account-link {
  color: #d25f15;
  margin-top: -20px;
  padding: 15px 0 15px 15px;
  font-size: 11px;
  font-weight: 600;
  text-transform: capitalize;
}
#header #logon-link.account-link .arrow-down {
  margin: 0 8px;
  bottom: -3px;
  color: #ddd;
  position: relative;
}
#header #logon-link.account-link .arrow-down i {
  font-size: 22px;
}
@media (max-width: 991px) {
  #header #logon-link.account-link {
    color: #d25f15;
    margin-top: 0;
    padding: 0;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
  }
  #header #logon-link.account-link .arrow-down {
    margin: 0;
    top: 12px;
    right: 15px;
    color: #ddd;
    position: absolute;
  }
  #header #logon-link.account-link .arrow-down i {
    font-size: 27px;
  }
}
#header #logon-shop {
  font-size: 11px;
  position: relative;
  padding-top: 17px;
}
#header #logon-shop a {
  overflow: hidden;
  color: #cccccc;
}
#header #logon-shop a:hover {
  color: #aaa;
}
#header #logon-shop span {
  color: #cccccc;
}
#header.logon-enabled .logon-area #logon-pane {
  display: block;
  z-index: 525;
}
#header #logon-pane {
  background: transparent;
  padding: 0;
  display: none;
  margin-top: 15px;
  overflow: hidden;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
#header #logon-pane .bottom-text {
  padding-left: 10px;
}
#header #logon-pane #Persist {
  width: 11px;
  position: relative;
  top: -4px;
  left: -6px;
}
#header #logon-pane #remember-me {
  font-size: 9px;
  color: #cccccc;
}
#header #logon-pane #forgot-password-link {
  font-size: 9px;
  color: #cccccc;
}
#header #logon-pane .logontextinput {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  float: left;
}
#header #logon-pane .logontextinput input {
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
  border: 1px solid #cccccc;
  color: gray;
  width: 245px;
}
#header #logon-pane.account-pane {
  width: 267px;
}
#header #logon-pane.account-pane .btn-account {
  float: right;
  margin: 0 0 0 10px;
  color: #555555;
  text-transform: capitalize;
}
#header #varigence-logo {
  float: left;
}
#header #varigence-logo img {
  position: relative;
  left: -30px;
}
#header #mobile-search-area {
  /*display: none;*/
}
#header #search-area,
#header #mobile-search-area {
  /*display: none;*/
  position: relative;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
#header #search-area #search-form,
#header #mobile-search-area #search-form {
  position: relative;
  width: 100%;
  padding: 0;
}
#header #search-area #search-form #search-submit,
#header #mobile-search-area #search-form #search-submit {
  background-color: transparent;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 0;
}
#header #search-area #search-form #search-submit:hover,
#header #mobile-search-area #search-form #search-submit:hover,
#header #search-area #search-form #search-submit:active,
#header #mobile-search-area #search-form #search-submit:active,
#header #search-area #search-form #search-submit:focus,
#header #mobile-search-area #search-form #search-submit:focus {
  border: none;
  outline: none;
}
#header #search-area #search-form #search,
#header #mobile-search-area #search-form #search {
  margin: 0;
  padding-right: 25px;
}
#header #main-nav-toggle {
  background: #f5f5f5;
  margin: 22px 15px 5px 0;
  border: 1px solid #f1f1f1;
}
#header #main-nav-toggle span.icon-bar {
  background: #d25f15;
}
#header #icon-search img,
#header #mobile-icon-search img,
#header #search-submit img {
  width: 20px;
  cursor: pointer;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}
#header #icon-search img:hover,
#header #mobile-icon-search img:hover,
#header #search-submit img:hover {
  opacity: .7;
}
#header #main-menu {
  /* The Entire Menu */
}
#header #main-menu > ul {
  list-style-type: none;
  /* The Top Menu items that are always visible*/
}
#header #main-menu > ul > li {
  text-transform: uppercase;
  background: white;
}
#header #main-menu > ul > li a:active {
  background: white;
}
#header #main-menu > ul li {
  font-size: 15px;
}
#header #main-menu > ul li > a,
#header #main-menu > ul li > p {
  color: #d25f15;
  font-weight: bold;
  letter-spacing: .5px;
  cursor: pointer;
}
#header #main-menu > ul li:hover > a {
  color: #00609c;
}
#header #main-menu > ul li > a > .arrow-down {
  float: right;
  margin-right: 10px;
  color: #ddd;
  font-size: 27px;
  position: relative;
  bottom: 2px;
}
#header #main-menu > ul li.enabled > a > .arrow-down {
  /*-ms-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);*/
}
#header #main-menu > ul li div {
  /* The Columns */
}
#header #main-menu > ul li div ul {
  list-style-type: none;
  padding: 0;
  /* The Items in each Column */
}
#header #main-menu > ul li div ul li {
  font-size: 13px;
  float: none;
  text-transform: none;
}
#header #main-menu > ul li div ul li.menu-item-header > a {
  font-weight: bold;
}
#header #main-menu > ul li div ul li a {
  color: white;
  font-weight: lighter;
}
#header #main-menu > ul li div ul li a:hover {
  text-decoration: none;
  background: #F7F7F7;
}
#header #main-menu > ul .active > a,
#header #main-menu > ul .active p {
  color: #00609c;
  background: none;
}
#header #main-menu .menu-column-container .menu-container {
  background-color: white;
  display: none;
  border: solid 1px #ebebeb;
}
#header #main-menu .menu-item-header {
  font-size: 14px;
  font-weight: 700;
}
#header #main-menu .no-underline:hover {
  text-decoration: none;
}
#header.minimized #logon-pane-triangle {
  display: none !important;
}
#header.minimized {
  padding-bottom: 0;
}
#header.minimized #main-menu {
  margin-top: 29px;
}
#header.minimized #logon-shop {
  opacity: 0;
}
/* Desktop Style */
@media (min-width: 992px) {
  #header {
    /*padding-bottom: 4px;*/
  }
  #header.search-enabled,
  #header.logon-enabled {
    height: 100px;
  }
  #header .container {
    position: relative;
  }
  #header .mobile-desktop-option {
    display: none;
  }
  #header.logon-enabled .logon-area #logon-pane {
    height: 50px;
    opacity: 1;
  }
  #header .logon-area #logon-pane {
    position: absolute;
    top: 50px;
    right: 0;
    margin: 0;
    opacity: 0;
    height: 0;
    display: block;
  }
  #header .logon-area #logon-pane .bottom-text {
    line-height: 13px;
  }
  #header .logon-area #logon-pane form {
    width: 587px;
    height: 50px;
  }
  #header .logon-area #logon-pane form input {
    width: 250px;
    float: left;
    margin-left: 10px;
  }
  #header .logon-area #logon-pane form .btn {
    width: auto;
    float: right;
    margin-left: 0;
  }
  #header .logon-area #logon-pane form .bottom-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  #header .logon-area #logon-pane form .bottom-text span,
  #header .logon-area #logon-pane form .bottom-text input,
  #header .logon-area #logon-pane form .bottom-text a {
    float: left;
  }
  #header #search-area {
    background: transparent;
    top: 50px;
    position: absolute;
    right: 30px;
    float: none;
    display: block;
    height: 0;
    opacity: 0;
  }
  #header #search-area #search {
    width: 200px;
  }
  #header #mobile-icon-search,
  #header #mobile-search-area {
    display: none;
  }
  #header.search-enabled #icon-search {
    position: unset;
  }
  #header.search-enabled #icon-search .header-search-icon {
    cursor: default;
  }
  #header.search-enabled #search-area {
    height: 50px;
    opacity: 1;
    z-index: 520;
  }
  #header #main-menu .navbar-nav {
    /*width: 680px;*/
    margin: 0 auto;
    float: right;
  }
  #header #main-menu .navbar-nav #icon-search {
    padding: 0 15px;
    margin-top: 13px;
  }
  #header #main-menu .navbar-nav #icon-search img {
    position: relative;
    z-index: 500;
  }
  #header #main-menu .navbar-nav > li > a {
    padding: 15px 10px;
    font-size: 12px;
  }
  #header #main-menu .navbar-nav > li > a i {
    font-size: 22px;
  }
  #header #main-menu .navbar-nav li a {
    font-weight: normal;
  }
  #header #main-menu .navbar-nav li a > .arrow-down {
    /*display: none;*/
    margin: 0 0 0 8px;
    bottom: 3px;
  }
  #header #main-menu .navbar-nav li a:hover {
    background: white;
  }
  #header #main-menu .navbar-nav li .menu-column-container .hoverbridge {
    background: white;
    width: 565px;
    height: 18px;
    top: 34px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    top: 25px;
    left: 41px;
    z-index: 1;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00609c;
    -webkit-transition: top 0.3s ease-in-out;
    -moz-transition: top 0.3s ease-in-out;
    -o-transition: top 0.3s ease-in-out;
    -ms-transition: top 0.3s ease-in-out;
    transition: top 0.3s ease-in-out;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container {
    position: absolute;
    width: 565px;
    z-index: 500;
    top: 50px;
    display: none;
    height: 336px;
    overflow: hidden;
    /*-webkit-transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                            -o-transition: all .3s ease-in-out;
                            -ms-transition: all .3s ease-in-out;
                            transition: all .3s ease-in-out;*/
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .mobile-menu {
    display: none !important;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-control {
    width: 145px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-control li:first-child {
    margin-top: 20px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-control li.active a {
    background: #F7F7F7;
    text-decoration: none;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-control li a {
    display: block;
    width: 145px;
    color: #555555;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    padding: 9px 0 9px 10px;
    text-decoration: none;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-control li a:hover {
    background: #F7F7F7;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-control li.direct-link a:hover {
    background: white;
    text-decoration: underline;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 420px;
    height: 100%;
    background: white;
    /*border: 1px solid #ddd;*/
    border-left: solid 1px #ebebeb;
    /*ul:hover li:first-child {

                                    a {
                                        color: @blue-dark;
                                    }

                                    .right-content a {
                                        color: @VarigenceOrange;
                                    }

                                    &:hover a {
                                        color: @VarigenceOrange;
                                    }

                                }*/
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .tab-pane > .right-content {
    display: block;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .tab-pane > .right-content p,
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .tab-pane > .right-content a {
    text-transform: none;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .right-content {
    display: none;
    width: 270px;
    height: 283px;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .right-content img {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 250px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .right-content img.product-menu-icon {
    top: 55px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .right-content .text {
    width: 250px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    text-align: center;
    color: #00609c;
    font-size: 10px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .right-content .text p {
    padding-top: 20px;
    margin: 0;
    line-height: 14px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .right-content .text a {
    color: #d25f15;
    font-size: 10px;
    padding: 0;
    display: block;
    line-height: 18px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .tab-pane > .center-content {
    display: block;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .tab-pane > .center-content p,
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .tab-pane > .center-content a {
    text-transform: none;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .center-content {
    display: none;
    width: 270px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: white;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .center-content img {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 250px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .center-content img.product-menu-icon {
    top: 55px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .center-content .text {
    width: 250px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    text-align: center;
    color: #00609c;
    font-size: 10px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .center-content .text p {
    padding-top: 20px;
    margin: 0;
    line-height: 14px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content .center-content .text a {
    color: #d25f15;
    font-size: 10px;
    padding: 0;
    display: block;
    line-height: 18px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content li:hover .right-content {
    display: block;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content li:hover a {
    color: #d25f15;
    text-decoration: none;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content li:first-child {
    margin-top: 20px;
    /*a {
                                            color: @VarigenceOrange;
                                        }

                                        .right-content {
                                            display: block;
                                        }*/
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content li:last-child a {
    padding-bottom: 20px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content li a {
    color: #555555;
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    padding: 9px 0 9px 10px;
  }
  #header #main-menu .navbar-nav li .menu-column-container .menu-container .tab-content li a:hover {
    color: #555555;
    text-decoration: underline;
  }
  #header #main-menu .navbar-nav li:hover .menu-container {
    /*height: 297px;*/
  }
  #header #main-menu .navbar-nav li:hover .triangle-up {
    top: 12px;
  }
}
@media (max-width: 1159px) {
  #header #main-menu .navbar-nav > li > a {
    padding: 15px 8px;
  }
  #header #main-menu .navbar-nav #icon-search {
    padding: 0 10px;
    margin-top: 13px;
  }
}
/* Tablet and Mobile Styles */
@media (max-width: 991px) {
  #header {
    position: absolute;
    top: 0;
    left: 0;
  }
  #header > .container {
    position: relative;
  }
  #header #site-logo {
    float: none;
    text-align: center;
  }
  #header .logo-link {
    text-align: center;
  }
  #header.search-enabled #mobile-icon-search .header-search-icon {
    cursor: default;
  }
  #header.search-enabled #mobile-search-area {
    display: block;
    opacity: 1;
    z-index: 520;
    height: 60px;
    background: white;
    margin: 0 -15px -1px -15px;
    width: -moz-calc(100% + (30px));
    width: -webkit-calc(100% + (30px));
    width: calc(100% + (30px));
  }
  #header.search-enabled #mobile-search-area #search-form {
    padding: 15px;
    display: block;
  }
  #header #main-nav-toggle {
    float: none;
    position: absolute;
    left: 15px;
    top: -14px;
  }
  #header #mobile-icon-search {
    list-style: none;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  #header #icon-search {
    display: none;
  }
  #header #mobile-search-area {
    display: block;
    opacity: 0;
    height: 0;
    width: 100%;
  }
  #header #mobile-search-area #search-form {
    display: none;
  }
  #header #mobile-search-area #search-form #search {
    width: 100%;
  }
  #header #mobile-search-area #search-form #search-submit {
    top: 18px;
    right: 16px;
  }
  #header .navbar-nav > li .logon-area #logon-shop {
    padding: 14px 20px;
  }
  #header .navbar-nav > li .logon-area #logon-shop a {
    margin: 0;
    padding: 0;
  }
  #header .navbar-nav > li .logon-area #logon-shop a.btn-account {
    padding: 6px 12px;
    margin: 0 10px 0 0;
  }
  #header .navbar-nav > li .logon-area #logon-pane {
    position: relative;
    /*display: none;*/
    margin: 0;
  }
  #header .navbar-nav > li .logon-area #logon-pane form {
    padding: 15px;
  }
  #header .navbar-nav > li .logon-area #logon-pane form #Persist {
    top: 3px;
    left: 0;
  }
  #header .navbar-nav > li .logon-area #logon-pane form input {
    width: 100%;
    margin-bottom: 10px;
  }
  #header .navbar-nav > li .logon-area #logon-pane form .btn {
    text-align: center !important;
  }
  #header .navbar-nav > li .logon-area #logon-pane .bottom-text {
    padding: 0;
  }
  #header .navbar-nav > li .logon-area #logon-pane .bottom-text a {
    padding: 0;
    margin: 0;
  }
  #header .navbar-nav > li .logon-area #logon-pane.account-pane {
    margin: 10px 0 0 0;
  }
  #header .mobile-desktop-option {
    float: left;
    margin: 10px 15px;
  }
  #header .mobile-desktop-option button {
    font-size: 11px;
  }
  #header #main-menu {
    width: 100%;
    padding: 0;
    margin: 0 -15px;
    width: -moz-calc(100% + (30px));
    width: -webkit-calc(100% + (30px));
    width: calc(100% + (30px));
    overflow: hidden;
    position: relative;
    bottom: 1px;
  }
  #header #main-menu > .navbar-nav > li:not(.enabled) {
    border-bottom: 1px solid #ddd;
  }
  #header #main-menu ul > .enabled > a > .arrow-down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #header #main-menu .menu-column-container {
    padding-top: 0;
    width: 100%;
  }
  #header #main-menu .menu-column-container .menu-container {
    padding: 0;
    width: 100% !important;
    position: relative;
  }
  #header #main-menu .menu-column-container .menu-container .triangle-up,
  #header #main-menu .menu-column-container .menu-container .hoverbridge {
    display: none !important;
  }
  #header #main-menu .submenu ul {
    display: none;
  }
  #header #main-menu .submenu .arrow-down {
    bottom: 9px;
    opacity: .5;
  }
  #header #main-menu .submenu.enabled a {
    color: white;
  }
  #header #main-menu .submenu.enabled ul {
    display: block;
  }
  #header #main-menu > .navbar-nav {
    margin: 0;
    /* Mobile dropdowns */
  }
  #header #main-menu > .navbar-nav li {
    float: none;
    margin: 0;
  }
  #header #main-menu > .navbar-nav li p {
    margin-bottom: 0;
    padding: 10px 0 10px 20px;
  }
  #header #main-menu > .navbar-nav li a {
    margin-bottom: 0;
    padding: 10px 0 10px 20px;
  }
  #header #main-menu > .navbar-nav li.enabled {
    padding-bottom: 0;
  }
  #header #main-menu > .navbar-nav li.enabled > a,
  #header #main-menu > .navbar-nav li.enabled > p {
    color: #00619c;
    background-color: #F7F7F7;
  }
  #header #main-menu > .navbar-nav li.enabled .triangle-up {
    display: none;
  }
  #header #main-menu > .navbar-nav li.enabled div {
    display: block !important;
    position: relative;
    float: none;
    height: auto !important;
    margin-top: 0;
    text-align: left;
  }
  #header #main-menu > .navbar-nav li.enabled div.desktop-menu {
    display: none !important;
  }
  #header #main-menu > .navbar-nav li.enabled div > ul {
    display: block;
    float: none;
    margin: 0;
  }
  #header #main-menu > .navbar-nav li.enabled div > ul li {
    margin: 0;
    float: none;
    border-top: 1px solid #ebebeb;
  }
  #header #main-menu > .navbar-nav li.enabled div > ul li a {
    width: 100%;
    display: block;
    padding: 8px 0 10px 20px;
    color: #555555;
  }
  #header #main-menu > .navbar-nav li.enabled div > ul li a:hover {
    color: #555555;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
  #main-menu {
    width: 100%;
  }
}













#footer .product-section {
  background: #ebebeb;
}
#footer .product-section:first-child {
  padding: 50px 10px;
  text-align: center;
}
#footer .product-section:first-child h3 {
  color: #555;
  margin-bottom: 20px;
}
#footer .product-section:first-child .join-now-form {
  max-width: 450px;
  margin: 0 auto;
}
@media (min-width: 425px) {
  #footer .product-section:first-child .join-now-copy {
    line-height: 48px;
    font-size: 32px;
    margin-bottom: 40px;
  }
  #footer .product-section:first-child .join-now-copy br {
    display: none;
  }
  #footer .product-section:first-child #subscribe-textbox {
    width: 190px;
  }
}
@media (max-width: 424px) {
  #footer .product-section:first-child #subscribe-button {
    margin-top: 15px;
  }
}
#footer .product-section:first-child input {
  width: 250px;
  height: 39px;
  display: inline-block;
}
#footer .product-section:first-child button {
  padding: 8px 12px 7px 12px !important;
  position: relative;
  bottom: 2px;
  border-radius: 0;
}
#footer .product-section:first-child .social {
  margin-top: 20px;
  color: #ebebeb;
}
#footer .product-section:first-child .social a:nth-child(2) i {
  padding: 5px 8px;
}
#footer .product-section:first-child .social a:last-child i {
  padding: 5px 6px;
}
#footer .product-section:first-child .social i {
  color: #ebebeb;
  margin: 0 7px;
  background-color: #555;
  border-radius: 20px;
}
#footer .product-section:first-child .social i:hover {
  background-color: #333;
}
#footer .product-section:nth-child(2) {
  background: white;
  padding: 30px 0;
  color: #555;
}
#footer .product-section:nth-child(2) ul {
  list-style: none;
}
#footer .product-section:nth-child(2) ul li {
  margin: 10px 0;
}
#footer .product-section:nth-child(2) ul li:first-child {
  font-size: 18px;
}
#footer .product-section:last-child {
  text-align: center;
}
#footer .product-section:last-child p {
  margin: 0;
}

/* custom css */

img[alt~="-fullwidth"]{
  width:  100%;
  display: block;
}

img[alt~="-100%"]{
  width:  100%;
  display: block;
}

img[alt~="-90%"]{
  width:  50%;
  display: block;
}

img[alt~="-80%"]{
  width:  10%;
  display: block;
}

img[alt~="-70%"]{
  width:  50%;
  display: block;
}

img[alt~="-60%"]{
  width:  10%;
  display: block;
}

img[alt~="-50%"]{
  width:  50%;
  display: block;
}

img[alt~="-40%"]{
  width:  10%;
  display: block;
}

img[alt~="-30%"]{
  width:  50%;
  display: block;
}

img[alt~="-20%"]{
  width:  10%;
  display: block;
}

img[alt~="-10%"]{
  width:  50%;
  display: block;
}

img[alt~="-center"]{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

