$body_bg: #fff;
$brand_primary: #00416B;
$brand_secondary: #D25F15;
$text_color: #111;
$link_color: #00416B;
$font_size_base: 16px;
$font_family_base: 'Lato', sans-serif;
$line_height_base: 1.5;
$hero_show_image: yes;
$hero_homepage_image: 'foo';
$hero_unit_mask_bg: #00416B;
$hero_unit_mask_opacity: 0.8;
$hero_title: 'What can we help you with?';
$search_placeholder: 'Type your question here...';
$button_color_1: #00416B;
$logo_height: 40px;
$border_radius_base: 4px;
$brand_info: #5bc0de;
$brand_success: #00416B;
$brand_warning: #fad782;
$brand_danger: #ff5252;
$topbar_text_color: #fff;
$topbar_link_color: #fff;
$topbar_button_color: #fff;
$footer_text_color: #fff;
$footer_link_color: #fff;
$footer_social_link_color: #fff;
$facebook_url: 'https://www.facebook.com/varigence/';
$twitter_url: 'https://twitter.com/varigence';
$linkedin_url: 'https://www.linkedin.com/company/varigence';
$youtube_url: 'https://www.youtube.com/user/varigence';

