.reveal .slides section.title .grid-wrapper {    
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
      "header header"
      "content content"
      ". credit";
    grid-template-columns: auto 40%;
    grid-template-rows: 6vmin 1fr auto;
    grid-column-gap: 10vmin;
    height: 100%;
    padding: 10vmin;
  }
  .logo {
     grid-area: header;
  }
  .content {
    align-self: center;
    grid-area: content;
  }
  .credit {
    grid-area: credit;
  }

body {
    /*background-color: #002b36; */
    /*background-color: #032C48; */
    /*background-color: #06446A;*/
    background-color: #FFFFFF;

}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .slides, .reveal p, .reveal body {
/*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
font-family: 'Segoe UI', Open Sans,Calibri,Verdana,Arial,Helvetica,sans-serif;
font-weight: 300; 
text-transform: none;
}

.reveal {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Segoe UI', Open Sans,Calibri,Verdana,Arial,Helvetica,sans-serif;
    font-weight: 300; 
    text-transform: none;
    font-size: 1.9em

    }

    
.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: #D25F15
}

.reveal h1 {
    color: #06446A;
    font-size: 2.5em
}

.reveal h2 {
    font-size: 2.2em
}
.reveal h3{
    font-size: 2em
}




/*blue:
#00619C

orange:
*/