body
{
    font-family: "Segoe UI";
    font-weight: "Light";
    font-size: 12pt;
    margin-bottom: 0.5cm;
}

p
{
    font-family: "Segoe UI Light";
    font-weight: lighter;
    font-size: 12pt;
    margin-bottom: 0.5cm;
}

h1
{
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif" !important;

/*    font-family: "segoe ui", "segoe ui light", "segoe ui lighter";*/
    font-weight: 300 !important; /*300=light*/
     font-size: 24pt;
    margin-bottom: 1cm;

}

h2
{
    font-family: "Segoe UI";
    font-weight: "Light";
    font-size: 18pt;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

h3
{
    font-family: "Segoe UI";
    font-weight: "Light";
    font-size: 16pt;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

h4
{
    font-family: "Segoe UI";
    font-weight: "Light";
    font-size: 14pt;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
}

.keep-together {
    page-break-inside: avoid;
}

.break-before {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
}